@model IEnumerable<TicketReservation.Models.Bookingdetails>

@{
    ViewData["Title"] = "GetBookById";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JourneyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JourneyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
